{% extends "base.html" %}
{% block body %}
                <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card_title">ARAÇ TALEP FORMU</h4>
                            <div class="form-group col-6">
                                <label for="alis-datetime-local-input" class="col-form-label">Araç Alış Zamanı</label>
                                <input class="form-control" type="datetime-local" placeholder="Lütfen Tarih Seçiniz" id="alis-datetime-local-input">
                            </div>
                            <div class="form-group col-6">
                                <label for="teslim-datetime-local-input" class="col-form-label">Araç Teslim Zamanı</label>
                                <input class="form-control" type="datetime-local" placeholder="Lütfen Tarih Seçiniz"  id="teslim-datetime-local-input">
                            </div>
                            <div class="form-group col-6">
                                <label class="col-form-label ">Kullanım Yeri</label>
                                <select class="form-control">
                                    <option>Seçiniz</option>
                                    <option>İl İçi</option>
                                    <option>İl Dışı</option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label class="col-form-label ">Cinsi</label>
                                <select class="form-control">
                                    <option>Seçiniz</option>
                                    <option>Binek</option>
                                    <option>Arazi</option>
                                    <option>Otobüs</option>
                                    <option>Kamyon</option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label for="example-text-input" class="col-form-label">Araç Talep Gerekçesi</label>
                                <input class="form-control" type="text" placeholder="Lütfen gerekçeyi yazınız" id="example-text-input">
                            </div>
                            <div class="col-6 justify-content-center">
                                <button class="btn btn-primary" type="submit">Araç Talep Et</button>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card_title">Progress Table</h4>
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-hover progress-table text-center">
                                        <thead class="text-uppercase">
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">task</th>
                                            <th scope="col">Deadline</th>
                                            <th scope="col">Progress</th>
                                            <th scope="col">status</th>
                                            <th scope="col">action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>09 / 07 / 2018</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td><span class="badge badge-info">in progress</span></td>
                                            <td>
                                                <ul class="d-flex justify-content-center">
                                                    <li class="mr-3"><a href="#" class="text-primary"><i class="fa fa-edit"></i></a></li>
                                                    <li><a href="#" class="text-danger"><i class="ti-trash"></i></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Mark</td>
                                            <td>09 / 07 / 2018</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td><span class="badge badge-warning">pending</span></td>
                                            <td>
                                                <ul class="d-flex justify-content-center">
                                                    <li class="mr-3"><a href="#" class="text-primary"><i class="fa fa-edit"></i></a></li>
                                                    <li><a href="#" class="text-danger"><i class="ti-trash"></i></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Mark</td>
                                            <td>09 / 07 / 2018</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td><span class="badge badge-success">complate</span></td>
                                            <td>
                                                <ul class="d-flex justify-content-center">
                                                    <li class="mr-3"><a href="#" class="text-primary"><i class="fa fa-edit"></i></a></li>
                                                    <li><a href="#" class="text-danger"><i class="ti-trash"></i></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Mark</td>
                                            <td>09 / 07 / 2018</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td><span class="badge badge-danger">stopped</span></td>
                                            <td>
                                                <ul class="d-flex justify-content-center">
                                                    <li class="mr-3"><a href="#" class="text-primary"><i class="fa fa-edit"></i></a></li>
                                                    <li><a href="#" class="text-danger"><i class="ti-trash"></i></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

