{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>

    <!--=========================*
                Met Data
    *===========================-->
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Etiqa">

    <!--=========================*
              Page Title
    *===========================-->
    <title>Enerji Bakanlığı - Portal</title>

    <!--=========================*
                Favicon
    *===========================-->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/enerji-logo.png">

    <!--=========================*
            Bootstrap Css
    *===========================-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!--=========================*
              Custom CSS
    *===========================-->
    <link rel="stylesheet" href="assets/css/style.css">

    <!--=========================*
               Owl CSS
    *===========================-->
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">

    <!--=========================*
            Font Awesome
    *===========================-->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!--=========================*
             Themify Icons
    *===========================-->
    <link rel="stylesheet" href="assets/css/themify-icons.css">

    <!--=========================*
               Ionicons
    *===========================-->
    <link href="assets/css/ionicons.min.css" rel="stylesheet"/>

    <!--=========================*
              EtLine Icons
    *===========================-->
    <link href="assets/css/et-line.css" rel="stylesheet"/>

    <!--=========================*
              Feather Icons
    *===========================-->
    <link href="assets/css/feather.css" rel="stylesheet"/>

    <!--=========================*
              Flag Icons
    *===========================-->
    <link href="assets/css/flag-icon.min.css" rel="stylesheet"/>

    <!--=========================*
               Slick Menu
    *===========================-->
    <link rel="stylesheet" href="assets/css/slicknav.min.css">

    <!--=========================*
              Modernizer
    *===========================-->
    <script src="assets/js/modernizr-2.8.3.min.js"></script>

    <!--=========================*
               Metis Menu
    *===========================-->
    <link rel="stylesheet" href="assets/css/metisMenu.css">

    <!--=========================*
               Perfect SB
    *===========================-->
    <link rel="stylesheet" href="assets/css/perfect-scrollbar.min.css">

    <!--=========================*
              Flag Icons
    *===========================-->
    <link href="assets/css/flag-icon.min.css" rel="stylesheet"/>

    <!--=========================*
               Slick Menu
    *===========================-->
    <link rel="stylesheet" href="assets/css/slicknav.min.css">

    <!--=========================*
               Datatable
    *===========================-->
    <!-- Start datatable css -->
    <link rel="stylesheet" type="text/css" href="assets/vendors/data-table/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="assets/vendors/data-table/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendors/data-table/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendors/data-table/css/responsive.jqueryui.min.css">

    <!--=========================*
            Google Fonts
    *===========================-->

    <!-- Montserrat USE: font-family: 'Montserrat', sans-serif;-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!--=========================*
         Page Content
*===========================-->
<div class="vz_main_sec">
    <!--=========================*
               Sidebar
   *===========================-->
    <nav class="vz_navbar">
        <div class="navbar-wrapper">
            <div class="navbar-content scroll-div">
                <div class="vz_navigation">
                    <ul class="sidebar nav flex-column">
                        <li class="active"><a class="nav-link text-center" href="javascript:void(0);" data-nav="dashboard"><i class="feather ft-home"></i><span>Hızlı Menü</span></a></li>
                        <li><a class="nav-link text-center" href="javascript:void(0);" data-nav="pages"><i class="feather ft-layers"></i><span>Haberler ve Duyurular</span></a></li>
                        <li><a class="nav-link text-center" href="javascript:void(0);" data-nav="apps"><i class="feather ft-zap"></i><span>E-Devlet</span></a></li>
                        <li><a class="nav-link text-center" href="javascript:void(0);" data-nav="forms"><i class="feather ft-clipboard"></i><span>Telefon Rehberi</span></a></li>
                        <li><a class="nav-link text-center" href="javascript:void(0);" data-nav="ui_features"><i class="feather ft-gitlab"></i><span>Kurum Uygulamaları</span></a></li>
                        <li><a class="nav-link text-center" href="javascript:void(0);" data-nav="advance_kit"><i class="feather ft-briefcase"></i><span>Anlaşmalı Kurumlar</span></a></li>
                         <li><a class="nav-link text-center" href="javascript:void(0);" data-nav="maps"><i class="feather ft-map-pin"></i><span>Mevzuatlar</span></a></li>
                        <li><a class="nav-link text-center" href="javascript:void(0);" data-nav="data"><i class="feather ft-file-text"></i><span>Oryantasyon</span></a></li>
                    </ul>
                    <div class="sidebar_content">
                        <div class="vz_sidebar_link dashboard active">
                            <ul class="nav vz_inner_nav">
                                <li class="nav-item menu_title">
                                    <label>Hızlı Menü</label>
                                </li>
                                <li class="nav-item">
                                    <a href="/" class="nav-link"><i class="feather ft-activity mr-2"></i>Ana Sayfa</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/doviz" class="nav-link"><i class="feather ft-activity mr-2"></i>Döviz Kurları</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/hava" class="nav-link"><i class="feather ft-activity mr-2"></i>Hava Durumu</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/yemek" class="nav-link"><i class="feather ft-activity mr-2"></i>Yemek Listesi</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/arac" class="nav-link"><i class="feather ft-activity mr-2"></i>Araç Talep Formu</a>
                                </li>
                            </ul>
                        </div>
                        <div class="vz_sidebar_link ui_features">
                            <ul class="nav vz_inner_nav">
                                <li class="nav-item menu_title">
                                    <label>Kurum Uygulamaları</label>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="#"><i class="menu_icon ti-alert"></i><span>ETKB BGYS Girişi</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><i class="menu_icon ti-layout-accordion-separated"></i><span>Yardım Masasına Giriş (ITSM)</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><i class="menu_icon icon-focus"></i><span>Enerji Drive</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><i class="menu_icon icon-ribbon"></i><span>Kariyer Uzmanlık Tezleri</span></a></li>
                            </ul>
                        </div>
                        <div class="vz_sidebar_link advance_kit">
                            <ul class="nav vz_inner_nav">
                                <li class="nav-item menu_title">
                                    <label>Anlaşmalı Kurumlar</label>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="sweet-notification.html"><i class="menu_icon ti-layout-media-overlay-alt-2"></i> <span>Kuruma Özel</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="cropper.html"><i class="menu_icon ion-crop"></i> <span>Kamuya Özel</span></a></li>
                            </ul>
                        </div>
                        <div class="vz_sidebar_link forms">
                            <ul class="nav vz_inner_nav">
                                <li class="nav-item menu_title">
                                    <label>Telefon Rehberi</label>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="/rehber"><i class="menu_icon ion-android-phone-landscape"></i><span>Rehber</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="/rehber"><i class="menu_icon ti-layout-grid2-thumb"></i><span>Rehberde Ara</span></a></li>
                           </ul>
                        </div>
                        <div class="vz_sidebar_link maps">
                            <ul class="nav vz_inner_nav">
                                <li class="nav-item menu_title">
                                    <label>Mevzuatlar</label>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="google-maps.html"><i class="menu_icon icon-map"></i><span>Yönetmelikler</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="google-maps.html"><i class="menu_icon icon-map"></i><span>Yönergeler</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="google-maps.html"><i class="menu_icon icon-map"></i><span>Genelgeler</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="google-maps.html"><i class="menu_icon icon-map"></i><span>Hizmet Standartları</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="google-maps.html"><i class="menu_icon icon-map"></i><span>Tebliğ ve Bildirimler</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="google-maps.html"><i class="menu_icon icon-map"></i><span>Teknik Şartnameler</span></a></li>
                            </ul>
                        </div>
                        <div class="vz_sidebar_link data">
                            <ul class="nav vz_inner_nav">
                                <li class="nav-item menu_title">
                                    <label>Oryantasyon</label>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="basic-table.html"><i class="menu_icon ion-ios-grid-view"></i><span>Eğitimler</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="datatable.html"><i class="menu_icon ti-layout-slider-alt"></i><span>Sınavlar</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="js-grid.html"><i class="menu_icon ti-view-list-alt"></i><span>Başarı Durumu</span></a></li>
                            </ul>
                        </div>
                        <div class="vz_sidebar_link pages">
                            <ul class="nav vz_inner_nav">
                                <li class="nav-item menu_title">
                                    <label>Sessions</label>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="haberler"><i class="menu_icon feather ft-log-in"></i><span>Haberler</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="duyurular"><i class="menu_icon ion-person-add"></i><span>Duyurular</span></a></li>

                            </ul>
                        </div>
                        <div class="vz_sidebar_link apps">
                            <ul class="nav vz_inner_nav">
                                <li class="nav-item menu_title">
                                    <label>E-Devlet</label>
                                </li>
                                <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.tccb.gov.tr/"><i class="menu_icon feather ft-calendar"></i><span>Cumhurbaşkanlığı</span></a></li>
                                <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.enerji.gov.tr/" aria-expanded="true"><i class="menu_icon feather ft-mail"></i><span>Enerji Bakanlığı</span></a></li>
                                <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.turkiye.gov.tr/"><i class="menu_icon feather ft-image"></i><span>E-Devlet Giriş</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <header class="vz_main_header flex-grow-1 top_nav">
        <div class="container-fluid d-flex flex-row h-100 align-items-center">
            <!--=========================*
                              Logo
                *===========================-->
            <div class="text-center rt_nav_wrapper d-flex align-items-center">
                <a class="nav_logo rt_logo" href="/"><img src="assets/images/enerji-logo.png" alt="logo"/></a>
                <a class="nav_logo nav_logo_mob" href="/"><img src="assets/images/enerji-logo.png" alt="logo"/></a>

            </div>
            <!--=========================*
                       End Logo
           *===========================-->
            <div class="nav_wrapper_main d-flex align-items-center justify-content-between flex-grow-1">
                <a class="vz_mobile_menu_icon mr-3 d-md-flex d_none_sm" id="vz_mobileCollapseIcon" href="javascript:void(0)"><span></span></a>
                <form class="search-field d-md-flex d_none_sm" action="#">
                    <div class="form-group mb-0">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="feather ft-search"></i></span>
                            </div>
                            Döviz Bilgileri
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav navbar-nav-right mr-0 ml-auto">
                    <li class="nav-item dropdown language_dropdown d_none_sm">
                        <div class="nav-link">
                            <span class="dropdown-toggle btn btn-sm" id="languageDropdown" data-toggle="dropdown">English
                                <i class="flag-icon flag-icon-us ml-2"></i>
                            </span>
                            <div class="dropdown-menu navbar-dropdown">
                                <a class="dropdown-item font-weight-medium">
                                    Italy
                                    <i class="flag-icon flag-icon-it ml-2"></i>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item font-weight-medium">
                                    Russia
                                    <i class="flag-icon flag-icon-ru ml-2"></i>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item font-weight-medium">
                                    France
                                    <i class="flag-icon flag-icon-fr ml-2"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                    <!--==================================*
                             Notification Section
                    *====================================-->
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                           data-toggle="dropdown">
                            <i class="feather ft-bell"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown rt-notification-list"
                             aria-labelledby="notificationDropdown">
                            <div class="dropdown-item">
                                <p class="mb-0 font-weight-normal float-left">3 Yeni Bildirim</p>
                                <a href="#" class="view_btn">Tümünü Göster</a>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item rt-notification-item">
                                <div class="rt-notification-thumbnail">
                                    <div class="rt-notification-icon">
                                        <i class="ti-map-alt text-info mx-0"></i>
                                    </div>
                                </div>
                                <div class="rt-notification-item-content">
                                    <h6 class="rt-notification-subject text-info font-weight-normal mb-1">Araç Talebiniz Onaylandı</h6>
                                    <p class="font-weight-light small-text mb-0">
                                        5 dakika önce.
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item rt-notification-item">
                                <div class="rt-notification-thumbnail">
                                    <div class="rt-notification-icon">
                                        <i class="ti-bolt-alt text-primary mx-0"></i>
                                    </div>
                                </div>
                                <div class="rt-notification-item-content">
                                    <h6 class="rt-notification-subject font-weight-normal text-primary mb-1">Yeni Mevzuat Eklendi</h6>
                                    <p class="font-weight-light small-text mb-0">
                                        1 gün önce
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item rt-notification-item">
                                <div class="rt-notification-thumbnail">
                                    <div class="rt-notification-icon">
                                        <i class="ti-heart text-secondary mx-0"></i>
                                    </div>
                                </div>
                                <div class="rt-notification-item-content">
                                    <h6 class="rt-notification-subject text-secondary font-weight-normal mb-1">Doğum Gününüz Kutlu olsun</h6>
                                    <p class="font-weight-light small-text mb-0">
                                        2 gün önce
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item rt-notification-item">
                                <div class="rt-notification-thumbnail">
                                    <div class="rt-notification-icon">
                                        <i class="ti-comments text-danger mx-0"></i>
                                    </div>
                                </div>
                                <div class="rt-notification-item-content">
                                    <h6 class="rt-notification-subject text-danger font-weight-normal mb-1">Yeni Şartname Yüklendi</h6>
                                    <p class="font-weight-light small-text mb-0">
                                        3 gün önce
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <!--==================================*
                             End Notification Section
                    *====================================-->
                    <!--==================================*
                             Profile Menu
                    *====================================-->
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <span class="profile_sec">

                                <span class="profile_name">
                                    <span class="hi_name">Merhaba,</span>
                                    Salih Bilgin <i class="feather ft-chevron-down"></i>
                                </span>
                                <img src="assets/images/user.jpg" alt="profile"/>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown pt-2"
                             aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="ti-user text-dark mr-3"></i> Profile
                            </a>
                            <a class="dropdown-item">
                                <i class="ti-settings text-dark mr-3"></i> Account Settings
                            </a>
                            <a class="dropdown-item">
                                <i class="feather ft-lock text-dark mr-3"></i>
                                Update Password
                            </a>
                        </div>
                    </li>
                    <!--==================================*
                             End Profile Menu
                    *====================================-->
                    <li class="nav-item d_none_sm">
                        <a class="nav-link logout_link" href="login.html">
                            Çıkış <i class="feather ft-power"></i>
                        </a>
                    </li>
                </ul>
                <!--=========================*
                           Mobile Menu
               *===========================-->
                <span class="d-lg-none">
                    <a class="vz_mobile_menu_icon ml-3" id="vz_mobileCollapseIconMobile" href="javascript:"><span></span></a>
                </span>
                <!--=========================*
                       End Mobile Menu
               *===========================-->
            </div>
        </div>
    </header>
    <div class="vz_main_container">
        <div class="vz_main_content">

{% block body %}{% endblock %}
        </div>
        <!--=========================*
                    Footer
       *===========================-->
        <footer>
            <div class="footer-area">
                <p>Etiqa</p>
            </div>
        </footer>
        <!--=========================*
                End Footer
       *===========================-->
    </div>
    <!--=========================*
            End Main Section
   *===========================-->

</div>
<!-- Jquery Js -->
<script src="assets/js/jquery.min.js"></script>
<!-- bootstrap 4 js -->
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<!-- Owl Carousel Js -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Metis Menu Js -->
<script src="assets/js/metisMenu.min.js"></script>
<!-- SlimScroll Js -->
<script src="assets/js/jquery.slimscroll.min.js"></script>
<!-- Slick Nav -->
<script src="assets/js/jquery.slicknav.min.js"></script>
<!-- start amchart js -->
<script src="assets/vendors/data-table/js/jquery.dataTables.js"></script>
<script src="assets/vendors/data-table/js/jquery.dataTables.min.js"></script>
<script src="assets/vendors/data-table/js/dataTables.bootstrap4.min.js"></script>
<script src="assets/vendors/data-table/js/dataTables.responsive.min.js"></script>
<script src="assets/vendors/data-table/js/responsive.bootstrap.min.js"></script>
<!-- Data table Init -->
<script src="assets/js/init/data-table.js"></script>

<!-- flot chart -->
<script src="assets/vendors/flot/jquery.flot.min.js"></script>
<script src="assets/vendors/flot/jquery.flot.pie.js"></script>
<script src="assets/vendors/flot/jquery.flot.resize.min.js"></script>

<!--Chart Js-->
<script src="assets/vendors/charts/charts-bundle/Chart.bundle.js"></script>

<!--Apex Chart-->
<script src="assets/vendors/apex/js/apexcharts.min.js"></script>

<!--EChart-->
<script src="assets/vendors/charts/echarts/echarts-en.min.js"></script>

<!--Home Script-->
<script src="assets/js/home.js"></script>

<!--Perfect Scrollbar-->
<script src="assets/js/perfect-scrollbar.min.js"></script>
<!-- Main Js -->
<script src="assets/js/main.js"></script>


</body>
</html>
