{% extends "base.html" %}
{% block body %}
                <div class="col-lg-12 stretched_card mt-mob-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card_title text-center">Günlük Döviz Kurları</h4>
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-striped text-center">
                                        <thead><tr>
                                            <th>
                                                <strong>Döviz Kodu</strong><br>Currency Code</th>
                                            <th>
                                                <strong>Birim</strong><br>Unit</th>
                                            <th>
                                                <strong>Döviz Cinsi</strong><br>Currency</th>
                                            <th>
                                                <strong>Döviz Alış</strong><br>Forex Buying</th>
                                            <th>
                                                <strong>Döviz Satış</strong><br>Forex Selling</th>
                                            <th>
                                                <strong>Efektif Alış</strong><br>Banknote Buying</th>
                                            <th>
                                                <strong>Efektif Satış</strong><br>Banknote Selling</th>
                                        </tr></thead>
                                        <tbody><tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/USD.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>USD/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">ABD DOLARI</td>
                                            <td class="deger">17.0589</td>
                                            <td class="deger">17.0896</td>
                                            <td class="deger efdeger">17.0469</td>
                                            <td class="deger efdeger">17.1152</td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/AUD.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>AUD/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">AVUSTRALYA DOLARI</td>
                                            <td class="deger">12.1216</td>
                                            <td class="deger">12.2007</td>
                                            <td class="deger efdeger">12.0658</td>
                                            <td class="deger efdeger">12.2739</td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/DKK.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>DKK/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">DANİMARKA KRONU</td>
                                            <td class="deger">2.4282</td>
                                            <td class="deger">2.4402</td>
                                            <td class="deger efdeger">2.4266</td>
                                            <td class="deger efdeger">2.4458</td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/EUR.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>EUR/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">EURO</td>
                                            <td class="deger">18.0924</td>
                                            <td class="deger">18.1250</td>
                                            <td class="deger efdeger">18.0797</td>
                                            <td class="deger efdeger">18.1521</td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/GBP.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>GBP/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">İNGİLİZ STERLİNİ</td>
                                            <td class="deger">21.2223</td>
                                            <td class="deger">21.3330</td>
                                            <td class="deger efdeger">21.2075</td>
                                            <td class="deger efdeger">21.3650</td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/CHF.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>CHF/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">İSVİÇRE FRANGI</td>
                                            <td class="deger">17.3621</td>
                                            <td class="deger">17.4735</td>
                                            <td class="deger efdeger">17.3360</td>
                                            <td class="deger efdeger">17.4998</td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/SEK.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>SEK/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">İSVEÇ KRONU</td>
                                            <td class="deger">1.7117</td>
                                            <td class="deger">1.7295</td>
                                            <td class="deger efdeger">1.7105</td>
                                            <td class="deger efdeger">1.7334</td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/CAD.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>CAD/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">KANADA DOLARI</td>
                                            <td class="deger">13.3867</td>
                                            <td class="deger">13.4471</td>
                                            <td class="deger efdeger">13.3372</td>
                                            <td class="deger efdeger">13.4982</td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/KWD.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>KWD/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">KUVEYT DİNARI</td>
                                            <td class="deger">55.3207</td>
                                            <td class="deger">56.0446</td>
                                            <td class="deger efdeger">54.4909</td>
                                            <td class="deger efdeger">56.8852</td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/NOK.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>NOK/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">NORVEÇ KRONU</td>
                                            <td class="deger">1.7768</td>
                                            <td class="deger">1.7888</td>
                                            <td class="deger efdeger">1.7756</td>
                                            <td class="deger efdeger">1.7929</td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/SAR.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>SAR/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">SUUDİ ARABİSTAN RİYALİ</td>
                                            <td class="deger">4.5472</td>
                                            <td class="deger">4.5554</td>
                                            <td class="deger efdeger">4.5131</td>
                                            <td class="deger efdeger">4.5896</td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/JPY.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>JPY/TRY
                                            </td>
                                            <td class="para birim">100</td>
                                            <td class="para">JAPON YENİ</td>
                                            <td class="deger">12.7173</td>
                                            <td class="deger">12.8015</td>
                                            <td class="deger efdeger">12.6703</td>
                                            <td class="deger efdeger">12.8502</td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/BGN.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>BGN/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">BULGAR LEVASI</td>
                                            <td class="deger">9.1985</td>
                                            <td class="deger">9.3189</td>
                                            <td class="deger efdeger"></td>
                                            <td class="deger efdeger"></td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/RON.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>RON/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">RUMEN LEYİ</td>
                                            <td class="deger">3.6389</td>
                                            <td class="deger">3.6865</td>
                                            <td class="deger efdeger"></td>
                                            <td class="deger efdeger"></td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/RUB.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>RUB/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">RUS RUBLESİ</td>
                                            <td class="deger">0.29211</td>
                                            <td class="deger">0.29593</td>
                                            <td class="deger efdeger"></td>
                                            <td class="deger efdeger"></td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/IRR.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>IRR/TRY
                                            </td>
                                            <td class="para birim">100</td>
                                            <td class="para">İRAN RİYALİ</td>
                                            <td class="deger">0.04039</td>
                                            <td class="deger">0.04092</td>
                                            <td class="deger efdeger"></td>
                                            <td class="deger efdeger"></td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/CNY.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>CNY/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">ÇİN YUANI</td>
                                            <td class="deger">2.5348</td>
                                            <td class="deger">2.5680</td>
                                            <td class="deger efdeger"></td>
                                            <td class="deger efdeger"></td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/PKR.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>PKR/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">PAKİSTAN RUPİSİ</td>
                                            <td class="deger">0.08397</td>
                                            <td class="deger">0.08507</td>
                                            <td class="deger efdeger"></td>
                                            <td class="deger efdeger"></td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/QAR.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>QAR/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">KATAR RİYALİ</td>
                                            <td class="deger">4.6436</td>
                                            <td class="deger">4.7043</td>
                                            <td class="deger efdeger"></td>
                                            <td class="deger efdeger"></td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/KRW.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>KRW/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">GÜNEY KORE WONU</td>
                                            <td class="deger">0.01336</td>
                                            <td class="deger">0.01354</td>
                                            <td class="deger efdeger"></td>
                                            <td class="deger efdeger"></td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/AZN.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>AZN/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">AZERBAYCAN YENİ MANATI</td>
                                            <td class="deger">9.9843</td>
                                            <td class="deger">10.1149</td>
                                            <td class="deger efdeger"></td>
                                            <td class="deger efdeger"></td>
                                        </tr>
                                        <tr>
                                            <td class="para kurkodu">
<span class="kurgorsel" style="
                     background-image: url('http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/AED.gif');
                 ">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 </span>AED/TRY
                                            </td>
                                            <td class="para birim">1</td>
                                            <td class="para">BİRLEŞİK ARAP EMİRLİKLERİ DİRHEMİ</td>
                                            <td class="deger">4.6183</td>
                                            <td class="deger">4.6788</td>
                                            <td class="deger efdeger"></td>
                                            <td class="deger efdeger"></td>
                                        </tr>
                                        </tbody></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
