{% extends "base.html" %}
{% block body %}
    <div class="row">
        <!-- Primary table -->
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Kuruma Özel Anlaşmalar</h4>
                    <div class="table-responsive datatable-primary">
                        <table id="dataTable2" class="text-center">
                            <thead class="text-capitalize">
                            <tr>
                                <th>Anlaşmalı Kurum</th>
                                <th>Türü</th>
                                <th>İndirim Oranı</th>
                                <th>Başlangıç</th>
                                <th>Bitiş</th>
                                <th>Detay Bilgi</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>Türk Telekom</td>
                                <td>İndirim</td>
                                <td>50</td>
                                <td>01.01.2022</td>
                                <td>01.01.2023</td>
                                <td>Açıklama</td>
                            </tr>
                            <tr>
                                <td>Turkcell</td>
                                <td>İndirim</td>
                                <td>50</td>
                                <td>01.01.2022</td>
                                <td>01.01.2023</td>
                                <td>Açıklama</td>
                            </tr>
                            <tr>
                                <td>Vodafone</td>
                                <td>İndirim</td>
                                <td>50</td>
                                <td>01.01.2022</td>
                                <td>01.01.2023</td>
                                <td>Açıklama</td>
                            </tr>
                            <tr>
                                <td>Budget</td>
                                <td>İndirim</td>
                                <td>35</td>
                                <td>01.05.2022</td>
                                <td>31.08.2022</td>
                                <td>Açıklama</td>
                            </tr>
                            <tr>
                                <td>Titanic Resort</td>
                                <td>İndirim</td>
                                <td>60</td>
                                <td>01.06.2022</td>
                                <td>30.10.2022</td>
                                <td>Açıklama</td>
                            </tr>
                                                        <tr>
                                <td>Türk Telekom</td>
                                <td>İndirim</td>
                                <td>50</td>
                                <td>01.01.2022</td>
                                <td>01.01.2023</td>
                                <td>Açıklama</td>
                            </tr>
                            <tr>
                                <td>Turkcell</td>
                                <td>İndirim</td>
                                <td>50</td>
                                <td>01.01.2022</td>
                                <td>01.01.2023</td>
                                <td>Açıklama</td>
                            </tr>
                            <tr>
                                <td>Vodafone</td>
                                <td>İndirim</td>
                                <td>50</td>
                                <td>01.01.2022</td>
                                <td>01.01.2023</td>
                                <td>Açıklama</td>
                            </tr>
                            <tr>
                                <td>Budget</td>
                                <td>İndirim</td>
                                <td>35</td>
                                <td>01.05.2022</td>
                                <td>31.08.2022</td>
                                <td>Açıklama</td>
                            </tr>
                            <tr>
                                <td>Titanic Resort</td>
                                <td>İndirim</td>
                                <td>60</td>
                                <td>01.06.2022</td>
                                <td>30.10.2022</td>
                                <td>Açıklama</td>
                            </tr>
                                                        <tr>
                                <td>Türk Telekom</td>
                                <td>İndirim</td>
                                <td>50</td>
                                <td>01.01.2022</td>
                                <td>01.01.2023</td>
                                <td>Açıklama</td>
                            </tr>
                            <tr>
                                <td>Turkcell</td>
                                <td>İndirim</td>
                                <td>50</td>
                                <td>01.01.2022</td>
                                <td>01.01.2023</td>
                                <td>Açıklama</td>
                            </tr>
                            <tr>
                                <td>Vodafone</td>
                                <td>İndirim</td>
                                <td>50</td>
                                <td>01.01.2022</td>
                                <td>01.01.2023</td>
                                <td>Açıklama</td>
                            </tr>
                            <tr>
                                <td>Budget</td>
                                <td>İndirim</td>
                                <td>35</td>
                                <td>01.05.2022</td>
                                <td>31.08.2022</td>
                                <td>Açıklama</td>
                            </tr>
                            <tr>
                                <td>Titanic Resort</td>
                                <td>İndirim</td>
                                <td>60</td>
                                <td>01.06.2022</td>
                                <td>30.10.2022</td>
                                <td>Açıklama</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Primary table -->
    </div>
{% endblock %}