{% extends "base.html" %}
{% block body %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="cover-profile">
                        <div class="profile-bg-img" style="background: url('/assets/images/profil-banner.jpeg') no-repeat;">
                            <div class="card-block user-info">
                                <div class="col-md-12">
                                    <div class="media-left">
                                        <a href="profile" class="profile-image">
                                            <img class="user-img img-radius" src="assets/images/team/member1.jpg" alt="user-img">
                                        </a>
                                    </div>
                                    <div class="media-body row">
                                        <div class="col-lg-12">
                                            <div class="user-title">
                                                <h2>Salih Bilgin</h2>
                                                <span class="text-white">Senior Full Stack Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-content">
                        <div class="tab-pane active" id="personal" role="tabpanel" aria-expanded="true">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h5 class="card_title mb-0">Bilgilerim</h5>
                                </div>
                                <div class="card-block">
                                    <div class="view-info">
                                        <div class="general-info">
                                            <div class="row">
                                                <div class="col-lg-12 col-xl-6">
                                                    <div class="table-responsive">
                                                        <table class="table m-0">
                                                            <tbody>
                                                            <tr>
                                                                <th scope="row">İsim</th>
                                                                <td>Salih Bilgin</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Cinsiyet</th>
                                                                <td>Erkek</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Doğum Tarihi</th>
                                                                <td>12 Eylül 1981</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Medeni Durum</th>
                                                                <td>Evli</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Konum</th>
                                                                <td>Ankara</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-xl-6">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <tbody>
                                                            <tr>
                                                                <th scope="row">Email</th>
                                                                <td><a href="#!">salih.bilgin@enerji.gov.tr</a></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Cep Telefonu</th>
                                                                <td>(532) - 2047416</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Eğitim</th>
                                                                <td>Yüksek Lisans</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Kademe</th>
                                                                <td>4</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Derece</th>
                                                                <td>1</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}