{% extends "base.html" %}
{% block body %}
    <div class="row">
        <!-- Primary table -->
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Telefon Rehberi</h4>
                    <div class="table-responsive datatable-primary">
                        <table id="dataTable2" class="text-center">
                            <thead class="text-capitalize">
                            <tr>
                                <th>Daire Başkanlığı</th>
                                <th>Birim</th>
                                <th>Telefon</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>Bilgi İşlem Daire Başkanlığı</td>
                                <td>Özel Kalem</td>
                                <td>2000</td>
                            </tr>
                            <tr>
                                <td>Bilgi İşlem Daire Başkanlığı</td>
                                <td>Sistem</td>
                                <td>2200</td>
                            </tr>
                            <tr>
                                <td>Bilgi İşlem Daire Başkanlığı</td>
                                <td>Help Desk</td>
                                <td>2222</td>
                            </tr>
                            <tr>
                                <td>Eğitim Daire Başkanlığı</td>
                                <td>Özel Kalem</td>
                                <td>3000</td>
                            </tr>
                            <tr>
                                <td>Eğitim Daire Başkanlığı</td>
                                <td>Sınav Hizmetleri Birimi</td>
                                <td>3100</td>
                            </tr>
                            <tr>
                                <td>Eğitim Daire Başkanlığı</td>
                                <td>Bilgi Edinme Birimi</td>
                                <td>3300</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Primary table -->
    </div>
{% endblock %}