{% extends "base.html" %}
{% block body %}
    <div class="row">
        <!-- Primary table -->
        <div class="row">
                <!-- basic table start -->
                <div class="col-lg-12 stretched_card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card_title">İletişim Bilgilerim</h4>
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table text-center">
                                        <thead class="text-uppercase">
                                        <tr>
                                            <th scope="col">İsim</th>
                                            <th scope="col">Kurum</th>
                                            <th scope="col">Birim</th>
                                            <th scope="col">Telefon</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>Salih Bilgin</th>
                                            <td>Enerji Bakanlığı</td>
                                            <td>Bilgi İşlem Daire Başkanlığı</td>
                                            <td>1608</td>
                                            <td>
                                                <button class="btn btn-danger"><i class="ti-trash"></i></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Telefon Rehberi</h4>
                    <div class="table-responsive datatable-primary">
                        <table id="dataTable2" class="text-center">
                            <thead class="text-capitalize">
                            <tr>
                                <th>Daire Başkanlığı</th>
                                <th>Birim</th>
                                <th>Telefon</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>Bilgi İşlem Daire Başkanlığı</td>
                                <td>Özel Kalem</td>
                                <td>2000</td>
                            </tr>
                            <tr>
                                <td>Bilgi İşlem Daire Başkanlığı</td>
                                <td>Sistem</td>
                                <td>2200</td>
                            </tr>
                            <tr>
                                <td>Bilgi İşlem Daire Başkanlığı</td>
                                <td>Help Desk</td>
                                <td>2222</td>
                            </tr>
                            <tr>
                                <td>Eğitim Daire Başkanlığı</td>
                                <td>Özel Kalem</td>
                                <td>3000</td>
                            </tr>
                            <tr>
                                <td>Eğitim Daire Başkanlığı</td>
                                <td>Sınav Hizmetleri Birimi</td>
                                <td>3100</td>
                            </tr>
                            <tr>
                                <td>Eğitim Daire Başkanlığı</td>
                                <td>Bilgi Edinme Birimi</td>
                                <td>3300</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Primary table -->
    </div>
{% endblock %}