{% extends "base.html" %}
{% block body %}
                <div class="col-lg-12 stretched_card mt-mob-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card_title">Haftalık Yemek Listesi</h4>
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-striped text-center">
                                        <thead class="text-uppercase">
                                        <tr>
                                            <th scope="col">Tarih</th>
                                            <th scope="col">Yemek</th>
                                            <th scope="col">Kalori</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">13.06.2022</th>
                                            <td>Döner ,Pilav ,Salata ,Üzüm ,Yoğurt</td>
                                            <td>1800</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">14.06.2022</th>
                                            <td>Kuru Fasülye, Pilav, Cacık, Kemalpaşa Tatlısı, Ayran</td>
                                            <td>1750</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">15.06.2022</th>
                                            <td>Döner ,Pilav ,Salata ,Üzüm ,Yoğurt</td>
                                            <td>1800</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">16.06.2022</th>
                                            <td>Kuru Fasülye, Pilav, Cacık, Kemalpaşa Tatlısı, Ayran</td>
                                            <td>1750</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">17.06.2022</th>
                                            <td>Döner ,Pilav ,Salata ,Üzüm ,Yoğurt</td>
                                            <td>1800</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}